div {
    background: #8e44ad;
    color: white;
    padding: .2rem .3rem 1rem .3rem;
    position: absolute;
    border-radius: 2rem 2rem 0 0;
    animation-name: animar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
img{
    width: 550px; height: 550px;
    background-position: center;
}
body {
    background-color: moccasin;
    background-image: url(../Laberinto.gif);
    background-repeat: no-repeat;
}

@keyframes animar{
    0%{
        left: 0;
        top: 0;
    }
    10%{
        left: 13.5rem;
        top: 0rem;
        color: #9b59b6;
    }
    30%{
        top: 7rem;
        left: 13.5rem;
        color: white;
    }
    60%{
        top: 7rem;
        left: 0;
        color: #9b59b6;
    }
    100%{
        top: 0;
        left: 0;
    }
}